<% provide(:title, "Home") %>
 <div class="center">
　<div class="heading">
   <h1>Balie Callejero</h1>
   <h2>this website is for people who love dance.</h2>
   <h2>you can watch at your favrite videos and keep them in your acount.</h2>
   
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-defoult" %> 
 </div>

 
